@font-face {
    font-family: 'Great Vibes';
    src: url('./GreatVibes-Regular.ttf');
  }

body {
    background-color: #00ffff;
    color: #4b0082;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

div#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #3005a5;
    display: flex;
    justify-content: center;
}

div#navbar a {
    font-size: 18px;
    font-weight: 400;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;  
}

div#navbar a:hover {

    background-color: #edf70e;
    color:#212121;
}

h1 {
    font-family: Great Vibes;
    font-size: 80px;
    text-align: center;
    color: #edf70e;
    text-shadow: 5px 3px 0 #212121;
}

div#avatar {
    background-image: url('./img/my_photo.jpg');
    background-size: contain;
    width: 200px;
    height: 300px;
    margin: auto;
}

section {
    margin: 50px 5% 50px 5%;
    padding: 15px;
}

section#Connect ul {
    display: flex;
    justify-content: center;
}

section#Connect li {
    writing-mode: horizontal-tb;
    direction: rtl;
    width: 200px;
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 0;
}

section#Experience div.job {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

section#Experience div.desc {
    width: 60%;
    text-align: center;
}

section#Skills ul {
    display: flex;
    text-decoration: none;
}

section#Skills ul li {
    margin: 0 15px;
    padding: 5px;
}

p.company {
    font-weight: 400;
}

p.position {
    font-style: italic;
}

div.desc ul {
    list-style-type: none
}

section#about {
    text-align: justify;
}

section h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #000000;
}

footer {
    background-color: #3005a5;
    font-size: 18px;
    font-weight: 400;
    color: #f2f2f2;
    text-align: center;
    padding: 14px; 
}

