@font-face {
    font-family: 'Great Vibes';
    src: url('./GreatVibes-Regular.ttf');
  }

body {
    background-color: #00ffff;
    color: #4b0082;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    font-family: Great Vibes;
    font-size: 80px;
    text-align: center;
    color: #edf70e;
    text-shadow: 5px 3px 0 #212121;
}

section {
    margin: 50px 5% 50px 5%;
    padding: 15px;
}

section#Connect ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

section#Experience li {
    border-block-style: groove;
    writing-mode: horizontal-tb;
    direction: rtl;
    width: 250px;
}

section#about {
    text-align: justify;
}

section h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #000000;
}

